.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 9px solid #2f91ff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00c513), color-stop(1, #00c513));
    background: -moz-linear-gradient( center top, #00c513 5%, #2f91ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #00c513;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #00c513;
}

.datagrid table th:first-child {
    border: none;
}

.datagrid table td {
    color: #2f91ff;
    border-left: 1px solid #2f91ff;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table .alt td {
    background: #F7CDCD;
    color: #2f91ff;
}

.datagrid table td:first-child {
    border-left: none;
}

.datagrid table tr:last-child td {
    border-bottom: none;
}

